.selectContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 50vh;
    width: 93vh;
    font-family: var(--font-mono);
}

.monsterSelect {
    width: 300px;
    padding: 0px 10px;
    margin: 8px 0;
}

.addEnemy {
    margin-left: 10px;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 8px;
    border: 0.5px solid darkgray;
    cursor: pointer;
}

.label {
    margin: 5px 10px 10px 0;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    min-height: 50vh;
}

.rightContainer {   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-left: 0.5px solid darkgray;
    border-right: 0.5px solid darkgray;
    min-height: 50vh;
}

.resultContainer {   
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 0.5px solid darkgray;
    min-height: 50vh;
    min-width: 40vh;
}

.inputText {
    background-color: #eee;
    padding: 12px 20px;
    margin: 8px 10px 8px 0;
    color: black;
    border-radius: 8px;
    border: 0.5px solid darkgray;
    width: 160px;
}

